.container {
    height: 200px;
    position: relative;
  }
  
.buttons {
  margin: auto;
  position: inherit;
  top: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.game-button {
  width: 150px;
  height: 200px;
  background-image: url('./paper.png');

}



img{
  width: 100%;
}

.game-button {
  border-radius: 10px;
  font-size: 30px;
  background-color: white;
}

h2 {
  text-align: center;
}

#button {
    position: absolute;
    top: 100px;
}

.results{
  text-align: center;
}